*.aux
*.bbl
*.blg
*.log
*.out
# *.pdf
*.png
*.jpeg
*.zip
*.synctex.gz
*.xmpi
*.docx
.DS_Store
.gitignore
LOGO_UNISI_ORIZZONTALE_NERO_0.pdf
LOGO_UNISI_VERTICALE_NERO_0.pdf
FinalReport/FinalReport_FirmatoValeria.pdf
